body {
    background-color: transparent;
    /* Ensure transparency */
}

/* Slider styles */
.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 5%;
    left: 0;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

.slider {
    display: flex;
    white-space: nowrap;
}

.slider-item {
    padding: 0 2rem;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    flex: 0 0 auto;
    /* Ensure items do not shrink */
}

.slider-item:hover {
    content: attr(data-hover-text);
}